---
import Layout from "../layouts/Layout.astro";
import FactGrid from "../components/FactGrid.astro";
import "@fontsource-variable/albert-sans";
import { Icon } from "astro-icon/components";
---

<Layout title="Vaatigames">
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse w-screen">
      <div class="w-full lg:w-1/3 flex lg:justify-end">
        <img src="/ai/server1.svg" class="max-w-sm rounded-lg" alt="Server" />
      </div>
      <div class="lg:w-2/3">
        <h1 class="text-3xl lg:text-5xl font-bold">
          La qualité et l'efficacité
          <br />
          <span
            class="inline-flex bg-gradient-to-r from-purple-400 via-purple-600 to-purple-800 text-transparent bg-clip-text">
            <Icon name="ph:star-four-duotone" class="mr-1 text-purple-400" />
            en même temps
            <Icon name="ph:star-four-duotone" class="ml-1 text-purple-800" />
          </span>
        </h1>
        <p class="py-6">
          Découvrez Vaatigames, un hébergeur de serveurs de jeux en ligne qui
          vient tout juste de sortir du four !
          <br />
          Vaatigames, c'est la solution parfaite entre hébergeur de quialité et prix
          éxorbitans. Car ici, <i>c'est vous</i> qui choissisez ce qui est
          important, <i>pour vous, pour vos projets, et pour votre porte feuille</i>.
        </p>
        <button class="btn btn-disabled">On arrive bientôt !</button>
      </div>
    </div>
  </div>
  <FactGrid
    title="Les avantages de vaatigames, c'est..."
    body="[ICI DU TEXTE]"
    items={[
      {
        title: "test",
        description: "test",
        icon: "ph:money-wavy-duotone",
      },
      {
        title: "Scalable",
        description: "test",
        icon: "ph:arrow-fat-lines-up-duotone",
      },
    ]}
  />
</Layout>
<div class="flex justify-center">
  <Icon name="ph:file-code-duotone" class="text-3xl justify-center" />
  <p class="text-lg text-center pb-20">
    <strong>Info développeurs</strong>
    <br />
    Kits utilisés :<br />
    <a class="text-primary" href="https://daisyui.com" target="_blank"
      >Daisy UI</a
    ><br />
    <a
      class="text-primary"
      href="https://icon-sets.iconify.design/ph/"
      target="_blank">Icones Phosphore (duotone)</a
    ><br />
    <a class="text-primary" href="https://tailwindcss.com" target="_blank"
      >Tailwind CSS</a
    ><br />
    <a class="text-primary" href="https://astro.build" target="_blank"
      >Astro Framework</a
    ><br />
  </p>
</div>
