---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import '@fontsource-variable/albert-sans';
---

<Header />
<div class="min-h-screen bg-[url(https://play.tailwindcss.com/img/beams.jpg)]">
</div>