---
import { Icon } from "astro-icon/components";
---

<footer
  class="footer p-10 bg-base-300 text-base-content transition-all duration-300">
  <nav>
    <h6 class="footer-title flex">
      <Icon name="ph:info-duotone" class="h-5 w-5 mr-2" />
      Services
    </h6>
    <a class="link link-hover flex items-center"
      ><Icon name="ph:map-pin-duotone" class="mr-1" /> Adresse</a
    >
    <a class="link link-hover flex items-center"
      ><Icon name="ph:envelope-open-duotone" class="mr-1" /> Mail</a
    >
    <a class="link link-hover flex items-center"
      ><Icon name="ph:dots-three-circle-duotone" class="mr-1" /> etc</a
    >
  </nav>
  <nav>
    <h6 class="footer-title flex">
      <Icon name="ph:seal-question-duotone" class="h-5 w-5 mr-2" />
      Retrouvez nous sur:
    </h6>
    <a class="link link-hover" href="https://bsky.app/profile/vaatigames.ovh" target="_blank">Bluesky</a>
    <a class="link link-hover" href="#">Instagram</a>
  </nav>
  <nav>
    <h6 class="footer-title flex">
      <Icon name="ph:scales-duotone" class="h-5 w-5 mr-2" />
      Légal
    </h6>
    <a class="link link-hover" href="/cgv">CGV</a>
    <a class="link link-hover" href="/cgu">CGU</a>
    <a class="link link-hover" href="/privacy">Politique de Confidentialité</a>
  </nav>
</footer>
<footer
  class="footer px-10 py-4 border-t bg-base-300 text-base-content transition-all duration-300"
  style="border-color: var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity)))">
  <aside class="items-center grid-flow-col">
    <Icon name="ph:disc-duotone" class="h-6 w-6" />
    <p><strong>Vaatigames</strong><br />© 2023-2024. Tout droit réservé.</p>
  </aside>
  <nav class="md:place-self-center justify-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <a
        href="https://statut.vaatigames.ovh"
        target="_blank"
        aria-label="Statut du site"
        ><Icon name="ph:cloud-warning-duotone" class="h-6 w-6" /></a
      >
      <a href="/" target="_blank" aria-label="Voir le site"
        ><Icon name="ph:book-open-user-duotone" class="h-6 w-6" /></a
      >
      <a
        href="https://discord.gg/x9YRMQeHtN"
        target="_blank"
        aria-label="Discord">
        <Icon name="ph:discord-logo-duotone" class="h-6 w-6" />
      </a>
    </div>
  </nav>
</footer>
<!--footer
  class="footer px-10 py-4 bg-base-300 text-base-content transition-all duration-300 flex justify-center">
  <a href="https://www.top-heberg.com/hebergeur/vaatigames-948" target="_blank" title="Vaatigames sur Top-heberg.com" class="flex justify-center">
    <img src="https://www.top-heberg.com/badge/vaatigames-948?s=refer" width="250" alt="Top-heberg.com" />
  </a>
</footer-->

