<section>
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
    <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold">Notre Equipe</h2>
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
        Vaatigames, c'est aussi une histoire et un projet.<br />
        Oui je manque d'inspi, c'est le css qui me monte à la tête.
      </p>
    </div>
    <div
      class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 items-center">
      <div class="text-center text-gray-500 dark:text-gray-400 lg:col-start-2">
        <img
          class="mx-auto mb-4 w-36 h-36 rounded-full"
          src="https://github.com/Funasitien.png"
          alt="Funasitien Avatar"
        />
        <h3
          class="mb-1 text-2xl font-bold tracking-tight">
          <a href="#">Funasitien DreamCloud</a>
        </h3>
        <p>CEO/Co-founder</p>
        <ul class="flex justify-center mt-4 space-x-4">
          <li>
            <a
              href="#"
              class="text-[#39569c] hover:text-gray-900 dark:hover:text-white">
              
            </a>
          </li>
          <li>
            <a
              href="#"
              class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
              
            </a>
          </li>
          <li>
            <a
              href="#"
              class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
              
            </a>
          </li>
          <li>
            <a
              href="#"
              class="text-[#ea4c89] hover:text-gray-900 dark:hover:text-white">
              
            </a>
          </li>
        </ul>
      </div>
      <div class="text-center text-gray-500 dark:text-gray-400">
        <img
          class="mx-auto mb-4 w-36 h-36 rounded-full"
          src="https://github.com/Vaati73.png"
          alt="Vaati73 Avatar"
        />
        <h3
          class="mb-1 text-2xl font-bold tracking-tight">
          <a href="#">Vaati73</a>
        </h3>
        <p>CTO/Co-founder</p>
        <ul class="flex justify-center mt-4 space-x-4">
          <li>
            <a
              href="#"
              class="text-[#39569c] hover:text-gray-900 dark:hover:text-white">
              
            </a>
          </li>
          <li>
            <a
              href="#"
              class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
              
            </a>
          </li>
          <li>
            <a
              href="#"
              class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
              
            </a>
          </li>
          <li>
            <a
              href="#"
              class="text-[#ea4c89] hover:text-gray-900 dark:hover:text-white">
              
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
