---
import Layout from "../../layouts/Layout.astro";
import IconLine from "../../components/BlueIconLine.astro";

import "@fontsource-variable/albert-sans";
import { Icon } from "astro-icon/components";
---

<Layout title="DCLinks" favicon="/img/dclinks.png">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-20">
    <div class="px-5 py-6 sm:px-6 sm:py-8">
      <img
        src="/banner/3.png"
        alt="banner"
        class="mx-auto w-full max-w-2xl rounded-lg shadow-md"
      />
      <div class="mt-6 text-center space-y-6">
        <h2
          class="text-3xl font-extrabold tracking-tight sm:text-4xl inline-flex">
          <Icon name="ph:link-break-bold" class="w-10 h-10 mr-2" />
          DCLinks
        </h2>
        <h5 class="text-lg lg:text-xl">
          DCLinks est un site internet qui vous permet de créer une page
          regroupant tout vos liens.
        </h5>
        <div class="grid grid-cols-1 lg:grid-cols-3 space-y-4 pb-10">
          <IconLine icon="ph:money-wavy-duotone" arg="100% Gratuit" />
          <IconLine icon="ph:globe-duotone" arg="Hégergé en Europe" />
          <IconLine icon="ph:chart-pie-slice-duotone" arg="Statistiques" />
          <IconLine icon="ph:copyright-duotone" arg="Aucune publicité" />
          <IconLine
            icon="ph:browsers-duotone"
            arg="Plus de 100 services pris en charge"
          />
          <IconLine
            icon="ph:rainbow-cloud-duotone"
            arg="By DreamCloud (j'ai plus d'inspi)"
          />
        </div>
        <a
          href="https://dclinks.fr"
          target="_blank"
          class="rounded-lg bg-gradient-to-r from-sky-400 via-sky-500 to-sky-600 px-12 py-4 text-center shadow-md inline-flex">
          DCLINKS.FR
        </a>
      </div>
    </div>
  </div>
</Layout>
