---
import Layout from "../../layouts/Layout.astro";
import IconLine from "../../components/IconLine.astro";

import "@fontsource-variable/albert-sans";
import { Icon } from "astro-icon/components";
---

<Layout title="Vaaticket" favicon="/img/vaaticket.png">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-20">
    <div class="px-5 py-6 sm:px-6 sm:py-8">
      <img
        src="/banner/1.png"
        alt="banner"
        class="mx-auto w-full max-w-2xl rounded-lg shadow-md"
      />
      <div class="mt-6 text-center space-y-6">
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl inline-flex">
          <Icon name="ph:ticket-duotone" class="-rotate-45 mr-2" />
          Vaaticket
        </h2>
        <h5 class="text-lg lg:text-xl">
          Vaaticket est un bot discord permettant de gérer vos tickets.
        </h5>
        <div class="grid grid-cols-1 lg:grid-cols-3 space-y-4 pb-10">
          <IconLine icon="ph:sticker-duotone" arg="Gestion des tickets" />
          <IconLine icon="ph:newspaper-duotone" arg="Transcriptions" />
          <IconLine icon="ph:file-lock-duotone" arg="Données Cryptées" />
          <IconLine icon="ph:globe-duotone" arg="Panel Web" />
          <IconLine icon="ph:bread-duotone" arg="Hébergé en France" />
          <IconLine icon="ph:money-wavy-duotone" arg="100% Gratuit" />
        </div>
        <a
          href="https://tickets.vaatigames.ovh"
          target="_blank"
          class="rounded-lg bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 px-12 py-4 text-center shadow-md inline-flex">
          Panel Web
        </a>
        <a
          href="https://discord.com/oauth2/authorize?scope=applications.commands+bot&client_id=1134091158994292766&permissions=268561488"
          target="_blank"
          class="rounded-lg bg-gradient-to-r from-indigo-500 to-indigo-600 px-12 py-4 text-center shadow-md inline-flex">
          Inviter sur Discord
          <Icon name="ph:discord-logo-duotone" class="w-6 h-6 ml-2" />
        </a>
      </div>
    </div>
  </div>
</Layout>
