---
const { title, favicon = "/img/vaati2.png" } = Astro.props;

import Header from "../components/Header.astro";
import Nav from "../components/DrawerNav.astro";
import Footer from "../components/Footer.astro";
import Alert from "../components/Alert.astro";
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <script is:inline>
      // ☝️ This script prevent the FART effect.
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "light");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        );
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>
    <title>{title}</title>
  </head>

  <body class="bg-base-200 transition-all duration-300">
    <div class="drawer">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col">
        <Header />
        <Alert
          title="Vaatigames n'est pas encore prêt !"
          body="Si ça t'interesse déjà, rend toi sur notre discord pour en parler avec nous :)"
          href="https://discord.gg/uawBFkmYq5"
          button="Discord"
        />
        <slot />
        <Footer />
      </div>
      <div class="drawer-side">
        <Nav />
      </div>
    </div>
  </body>
</html>
